<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>

  <div class="wrapper">

    {% include "../partials/_header.njk" %}

    <p>This is just a proof that all is working OK.</p>
  
    <p>If you can see this page (and if you can see the H1 above), the Nunjucks renderer is working.</p>
    
    <p>If this page background is “cornsilk” (a pale brown), the SCSS is being preprocessed.</p>
  
    <p>If you can see a console log message in your inspector, the JS is being Babeled and bundled.</p>
  
    <p>If there’s an image below (and a favicon in the browser tab), files are being passed through (copied) from the <code>./src/assets</code> folder.</p>
  
    <img src="./img/shapes.svg" style="width: 200px">

    <p><em>Delete all my content and do your own thing.</em></p>
  
  </div>

  <script src="./js/bundle.js"></script>
</body>
</html>
